.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #007bff !important;
}

.css-gr2aqs {
  background-color: #007bff !important;
}

body {
  margin: 0 !important;
  overflow: auto;
}
.slick-slide {
  outline: none;
  width: unset !important;
  /* width: 360px !important; */
}

body * {
  font-family: 'Montserrat' !important;
}

h1,h2,h3,h4,h5,h6,a,button {
  font-family: 'Poppins' !important;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

button {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #090f16;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #1a2a3a;
  border-radius: 6px;
}

.react-loading-skeleton {
  background-color: rgb(33 55 82) !important;
  background-image: linear-gradient(90deg, rgb(20 34 51), rgb(33 55 82), rgb(33 55 82)) !important;
}